<template>
    <v-app>
        <main>
            <v-flex>
                <v-layout class="hg-main-content">
                    <v-flex xs10>
                        <v-flex xs12><Header></Header></v-flex>
                        <v-flex xs12><router-view/></v-flex>
                    </v-flex>
                    <v-flex xs2>
                        <right-aside-menu></right-aside-menu>
                    </v-flex>
                </v-layout>
            </v-flex>
        </main>
    </v-app>
</template>

<script>
import Header from '../components/Header.vue'
import RightAsideMenu from '../components/RightAsideMenu.vue'

export default {
    name: 'App',
    components: {
        Header,
        RightAsideMenu
    },
    data () {
        return {}
    }
}
</script>

<style lang="scss">
    @import "../assets/scss/Main";
</style>