// -------Core-------
@import "core/Fonts";

// -------Components-------
@import "components/Header";
@import "components/RightAsideMenu";

// -------Views-------
@import "views/operationMenu/List";

.hg-main-content {
  padding: 26px 35px 0 36px;
}

.v-text-field--box .v-input__slot,
.v-text-field--outline .v-input__slot,
.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 40px !important;
}
.v-text-field--box .v-input__slot,
.v-text-field--outline .v-input__slot,
.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: auto!important;
  display: flex!important;
  align-items: center!important;
}

.v-btn:not(.v-btn--round).v-size--default {
  min-width: 40px !important;
}