.hg-operation-menu-list-content {
  float: left;
  width: 100%;
  .hg-filter-box {
    color: #2E2E2E;
    margin-top: 34px;
    margin-bottom: 35px;
    .hg-sort-box {
      max-width: 297px;
      .label {
        margin-top: 3px;
        font-size: 15px;
        opacity: 0.6;
      }
      .hg-sort-select-box {
        height: 31px;
        font-size: 15px;
        margin-left: 9px;
        max-width: 180px;
        border-radius: 10px;
      }
    }
    .hg-form-type-box {
      margin-left: 15px;
      .label {
        margin-top: 3px;
        font-size: 15px;
        opacity: 0.6;
      }
      .hg-list-form,
      .hg-calendar-form {
        width: 30px;
        min-width: 30px!important;
        height: 30px;
        border-radius: 10px;
      }
      .hg-list-form, .hg-calendar-form {
        box-shadow: none;
        border: 1px solid #EAEAEA;
        color: #2E2E2E;
      }
      .hg-list-form {
        margin-left: 9px;
      }
      .hg-calendar-form {
        margin-left: 5px;
      }
      .hg-list-form.active, .hg-calendar-form.active {
        background: #EAEAEA;
      }
    }
    .hg-operation-types-box {
      float: right;
      .hg-operation-item {
        height: 31px;
        border-radius: 10px;
        margin-right: 9px;
        box-shadow: none;
        border: 1px solid #EAEAEA;
        color: #2E2E2E;
        opacity: 0.6;
        text-transform: none;
      }
      .hg-operation-item.active {
        background: #EAEAEA;
        opacity: 1;
      }
    }
  }
  .hg-operation-menu-data-content {
    font-family: Cera Pro;
    .hg-data-by-day-content {
      padding-right: 20px;
      .hg-data-by-day-title-content {
        margin-bottom: 12px;
        .hg-data-day {
          font-size: 22px;
          line-height: 28px;
          letter-spacing: -0.01em;
          color: #2E2E2E;
          .hg-data-day-icon {
            color: #B2B2B2;
            font-size: 15px;
            margin-top: 9px;
            margin-left: 9px;
          }
        }
        .hg-add-data {
          float: right;
          .hg-label {
            color: #2E2E2E;
            opacity: 0.6;
            text-align: right;
          }
          .hg-add-data-icon {
            margin-left: 8px;
            width: 30px;
            min-width: 30px !important;
            height: 30px;
            border-radius: 30px;
            background: #F2F2F2;
            box-shadow: none;
            color: #2E2E2E;
            .icon-plus {
              color: #2E2E2E;
              opacity: 0.6;
            }
          }
        }
      }
      .hg-hr {
        border: 1px solid #EAEAEA;
      }
      .hg-data-by-day {
        padding-top: 17px;
        padding-bottom: 17px;
        .hg-progress-up {
          background-color: #18AA00;
        }
        .hg-progress-down {
          background-color: #FF7F57;
        }
        .hg-progress-icon {
          border-radius: 8px;
          .hg-progress-up-icon {
            color: #FBFBFB;
          }
          .hg-progress-down-icon {
            color: #E62900;
          }
        }
        .hg-item-data {
          width: 350px;
          margin-left: 16px;
          .hg-data-title {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.01em;
            color: #2E2E2E;
          }
          .hg-data-description {
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.01em;
            .hg-label {
              color: rgba(46, 46, 46, 0.4);
            }
          }
        }
        .hg-item-status {
          text-align: right;
          .hg-paid {
            width: 82px;
            height: 28px;
            background-color: #EAEAEA !important;
            border-radius: 10px;
            box-shadow: none;
            text-transform: none;
            span {
              font-size: 14px;
              line-height: 18px;
              letter-spacing: -0.01em;
              color: #2E2E2E;
              opacity: 0.4;
            }
          }
        }
        .hg-item-amount-of-progress {
          .hg-amount {
            width: 130px;
            font-size: 18px;
            line-height: 23px;
            text-align: right;
            letter-spacing: -0.01em;
            span {
              color: #2E2E2E;
              opacity: 0.4;
            }
          }
          .hg-progress-amount-up {
            color: #18AA00;
          }
          .hg-progress-amount-down {
            color: #DA3300;
          }
          .hg-progress-amount-tremendous {
            color: #95BA00;
          }
        }
      }
    }
    .hg-copy-operation-content {
      margin-bottom: 20px;
      text-align: center;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.01em;
      color: #2E2E2E;
      opacity: 0.6;
      .hg-copy-icon {
        background: #F2F2F2;
        border-radius: 30px;
        width: 28px;
        min-width: 28px!important;
        height: 28px;
        box-shadow: none;
        .icon-copy {
          color: #B2B2B2;
        }
      }
    }
  }
}