.hg-header-content {
  font-family: CeraProBlack;
  font-size: 15px;
  line-height: 19px;
  float: left;
  margin-bottom: 25px;
  .hg-prev,
  .hg-next,
  .hg-calendar {
    font-size: 15px;
    height: 44px !important;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    box-shadow: none;
    color: #2E2E2E;
    text-transform: none;
    .hg-calendar-icon {
      width: 14px;
      height: 14px;
      margin-right: 11px;
    }
  }
  .hg-prev, .hg-next {
    width: 44px !important;
  }
  .hg-calendar {
    width: 94px;
  }
  .hg-search-input {
    margin-left: 15px;
    font-size: 15px;
    width: 400px;
    height: 44px;
    .v-icon.v-icon {
      margin-top: -10px;
    }
  }
  .hg-filter-content {
    margin-left: 60px;
    background: #F2F2F2;
    border-radius: 10px;
    .hg-filter-select-box  {
      .theme--light.v-label {
        font-size: 15px;
      }
      .v-input__control .v-input__slot {
        .v-input__prepend-inner .v-input__icon--prepend-inner{
          margin-top: -4px;
        }
        .v-select__slot .v-select__selections {
          padding: 11px 0 !important;
        }
      }
      max-width: 120px;
      height: 44px;
      background: #FBFBFB;
      border: 1px solid #EAEAEA;
      box-sizing: border-box;
      border-radius: 10px;
    }
    .hg-filter-images-content {
      padding-top: 7px;
      margin-left: 15px ;
      .hg-star-icon-content {
        width: 12px;
        min-width: 12px!important;
        height: 12px;
        padding: 3px;
        position: absolute;
        margin-top: -2px;
        margin-left: -2px;
        z-index: 999;
        box-shadow: none;
        border-radius: 30px;
        .hg-star-icon {
          width: 6px;
          height: 6px;
          color: #EEBA00;
        }
      }
      .hg-filter-image {
        border-radius: 30px;
        margin-right: 7px;
      }
      .hg-no-image {
        background-color: #2E2E2E !important;
        color: #FFFFFF;
        width: 30px;
        min-width: 30px !important;
        height: 30px;
      }
      .hg-filter-image-plus {
        width: 30px;
        min-width: 30px !important;
        height: 30px;
        border-radius: 30px;
        background: #FBFBFB;
        box-shadow: none;
        .icon-plus {
          color: #2E2E2E;
          opacity: 0.6;
        }
      }
    }
  }
}
