.hg-right-aside-content {
  font-family: Cera Pro;
  .hg-title-box {
    .hg-title {
      font-size: 22px;
      line-height: 28px;
      letter-spacing: -0.01em;
      color: #2E2E2E;
    }
    .hg-title-icon-content {
      opacity: 0.4;
      text-align: center;
      .hg-title-icon {
        width: 30px;
        height: 30px;
        color: #2E2E2E;
        margin-top: -5px;
        margin-bottom: 0;
      }
      .hg-title-icon-text {
        color: #2E2E2E;
        font-size: 10px;
        margin-top: -15px;
        line-height: 13px;
        letter-spacing: -0.01em;
      }
    }
  }
  .hg-price-content {
    margin-top: 14px;
    background: #EEEEEE;
    border-radius: 18px;
    padding: 11px 18px 8px 18px;
    .hg-price {
      color: #2E2E2E;
      letter-spacing: 0.01em;
      span {
        color: #2E2E2E;
        opacity: 0.4;
      }
    }
    .hg-main-price {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 5px;
    }
    .hg-hr {
      border: 1px solid #DCDCDC;
      margin-top: 8px;
      margin-bottom: 11px;
    }
    .hg-prices-details {
      .hg-price-details {
        border-left: 2px solid #DCDCDC;
        .hg-hr-short {
          width: 12.5px;
          position: absolute;
          margin-right: 6.5px;
        }
        .hg-sub-main-price {
          margin-left: 19px;
          margin-bottom: 1px;
          font-size: 14px;
          line-height: 18px;
        }
      }
      .hg-price-details:last-child {
        border: none;
      }
    }
    .hg-hr-vertical {
      width: 12px;
      margin-top: 3px !important;
      margin-left: -5px;
      position: absolute;
      transform: rotate(-90deg);
      border-color: #DCDCDC !important;
    }
    .hg-price-list {
      .hg-price-title {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.01em;
        color: #2E2E2E;
        opacity: 0.4;
        margin-bottom: 5px;
      }
      .hg-price {
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        letter-spacing: 0.01em;
      }
    }
  }
  .hg-menu-content {
    margin-top: 26px;
    .hg-menu-item {
      text-transform: none;
      padding-left: 14.59px;
      padding-right: 23px;
      margin-bottom: 12px;
      box-shadow: none;
      border-radius: 14px;
      letter-spacing: -0.01em;
      .hg-progress-up-icon {
        width: 16px;
        height: 16px;
      }
      .hg-menu-item-title {
        font-size: 21px;
        line-height: 26px;
        margin-left: 13.5px;
      }
    }
    .hg-menu-item.active {
      background-color: #EAEAEA !important;
    }
  }
  .hg-user-data-content {
    background: #EEEEEE;
    margin-top: 56px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 23px 32px 23px 26px;
    .hg-user-avatar {
      border-radius: 30px;
    }
    .hg-user-info-content {
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.01em;
      color: #2E2E2E;
      margin-left: 14px;
      .hg-user-title {

      }
      .hg-user-description {
        opacity: 0.5;
      }
    }
    .hg-action-icons {
      text-align: right;
      color: #2E2E2E;
    }
  }
}