<template>
    <v-layout class="hg-header-content">
        <v-flex>
            <v-btn class="hg-prev">
                <font-awesome-icon icon="angle-left" />
            </v-btn>
            <v-btn class="hg-calendar">
                <font-awesome-icon class="hg-calendar-icon" :icon="['far', 'calendar']"/>
                Июль
            </v-btn>
            <v-btn class="hg-next">
                <font-awesome-icon icon="angle-right" />
            </v-btn>
        </v-flex>

        <v-flex>
            <v-text-field class="hg-search-input" height="44" :prefix="$t('global.search')" append-icon="search" :placeholder="$t('headerContent.search_description')" outlined></v-text-field>
        </v-flex>

        <v-flex class="hg-filter-content">
            <v-layout>
                <v-select class="hg-filter-select-box" height="44" :items="items" :label="$t('global.filter')" prepend-inner-icon="flash_on" outlined></v-select>
                <v-layout class="hg-filter-images-content">
                    <div v-for="(imageData, index) in filterImagesData" :key="'filter_image_'+index">
                        <v-btn class="hg-star-icon-content">
                            <font-awesome-icon class="hg-star-icon" icon="star" />
                        </v-btn>
                        <v-img class="hg-filter-image" max-width="30" max-height="30"
                               v-bind:src="require('../assets/imgs/filter/'+imageData.imagePath)"
                               v-if="imageData.imagePath"
                        ></v-img>
                        <v-btn class="hg-filter-image hg-no-image" v-else>{{ imageData.name }}</v-btn>
                    </div>

                    <v-btn class="hg-filter-image-plus">
                        <font-awesome-icon class="icon-plus" icon="plus" />
                    </v-btn>
                </v-layout>
            </v-layout>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
    name: 'Header',
    data () {
        return {
            items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
            filterImagesData: [
                { id: 1, name: 'ДК' },
                { id: 2, imagePath: 'img_2.jpeg' },
                { id: 3, imagePath: 'img_3.jpeg' },
                { id: 4, imagePath: 'img_4.jpeg' }
            ]
        }
    }
}
</script>