<template>
    <v-flex class="hg-right-aside-content">
        <v-layout class="hg-title-box">
            <v-flex class="hg-title">{{ $t('rightMenu.title') }}</v-flex>
            <v-flex class="hg-title-icon-content">
                <font-awesome-icon class="hg-title-icon" icon="angle-up" />
                <v-flex class="hg-title-icon-text">{{ $t('rightMenu.title_icon_text') }}</v-flex>
            </v-flex>
        </v-layout>

        <v-flex class="hg-price-content">
            <v-flex class="hg-price hg-main-price">
                {{ priceData.mainPrice.price }}<span>{{ priceData.mainPrice.remainder }}</span>
            </v-flex>

            <v-flex class="hg-prices-details">
                <v-layout class="hg-price-details" v-for="(subPrice, index) in priceData.subPrices" :key="'sub_price_'+index">
                    <hr class="hg-hr hg-hr-short">
                    <hr class="hg-hr hg-hr-vertical" v-if="index === priceData.subPrices.length-1">
                    <v-flex class="hg-price hg-sub-main-price">
                        {{ subPrice.price }}<span>{{ subPrice.remainder }}</span>
                    </v-flex>
                </v-layout>
            </v-flex>


            <hr class="hg-hr">

            <v-layout class="hg-price-list" v-for="(priceList, index) in priceData.pricesList" :key="'price_list_'+index">
                <v-flex class="hg-price-title">{{ priceList.title }}</v-flex>
                <v-flex class="hg-price">
                    {{ priceList.price }}
                    <span>{{ priceList.remainder }}</span>
                </v-flex>
            </v-layout>
        </v-flex>

        <v-flex class="hg-menu-content">
            <v-flex v-for="(item, index) in menuItems" :key="'menu_item_'+index">
                <v-btn class="hg-menu-item" :class="{'active': selectedItemMenu === item.val}" @click="selectedItemMenu = item.val">
                    <font-awesome-icon class="hg-progress-up-icon" :icon="[item.iconType, item.icon]"/>
                    <v-flex class="hg-menu-item-title">{{ $t('rightMenu.menu_price')[item.val] || item.val }}</v-flex>
                </v-btn>
            </v-flex>
        </v-flex>

        <v-flex class="hg-user-data-content">
            <v-layout>
                <v-img class="hg-user-avatar" max-width="40" max-height="40"
                       v-bind:src="require('../assets/imgs/users/'+userData.avatar)"
                ></v-img>

                <v-flex class="hg-user-info-content">
                    <v-flex class="hg-user-title">{{ userData.firstName }} {{userData.lastName}}</v-flex>
                    <v-flex class="hg-user-description">{{userData.description}}</v-flex>
                </v-flex>

                <v-flex class="hg-action-icons">
                    <v-flex>
                        <font-awesome-icon class="hg-settings-icon" icon="sliders-h"/>
                    </v-flex>
                    <v-flex>
                        <font-awesome-icon class="hg-help-icon" :icon="['far', 'question-circle']"/>
                    </v-flex>
                </v-flex>
            </v-layout>
        </v-flex>
    </v-flex>
</template>

<script>
export default {
    name: 'Right',
    data () {
        return {
            priceData: {
                mainPrice: { price: '1 930 545', remainder: ',26 ₽' },
                subPrices: [
                    { price: '1 345 511', remainder: ',26 ₽' },
                    { price: '8 797', remainder: ',41 $ (569 156,26 ₽)' }
                ],
                pricesList: [
                    { title: 'Тинькофф банк', price: '541 356', remainder: ',47 ₽' },
                    { title: 'Тинькофф банк, $', price: '8 797', remainder: ',41 ₽' },
                    { title: 'Касса', price: '671 099', remainder: ',11 ₽' },
                ]
            },
            menuItems: [
                {icon: 'arrows-alt-h', iconType: 'fas', val: 'operation'},
                {icon: 'chart-bar', iconType: 'fas', val: 'reports'},
                {icon: 'react', iconType: 'fab', val: 'counterparties'},
                {icon: 'hammer', iconType: 'fas', val: 'projects'},
                {icon: 'align-justify', iconType: 'fas', val: 'expenditure'},
                {icon: 'user', iconType: 'far', val: 'employees'}
            ],
            selectedItemMenu: 'operation',
            userData: {
                avatar: 'user_1.png',
                firstName: 'Андрей',
                lastName: 'Никонов',
                description: 'Riverstart Digital',
            }
        }
    }
}
</script>