<template>
    <v-flex class="hg-operation-menu-list-content" xs12>
        <v-flex class="test-test" style="height: 100px; width: 100%">
            <svg width="796" height="90" viewBox="0 0 796 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="796" height="90">
                    <rect width="796" height="90" rx="18" fill="#F2F2F2"/>
                </mask>
                <g mask="url(#mask0)">
                    <rect width="796" height="90" rx="18" fill="#F5F5F5"/>
                    <rect y="66" width="769" height="28" fill="#F4D4D4"/>
                    <path d="M-165.5 48H-200V95.5H854V55.75L824 55.875V16H788.5V50.5H754.5V55.5H720.5V65.5H686.5V59H652.5V48.5H618.5V62.5H584.5V83H550.5V70.5H516.5V79H482.5V43.5H448.5V76H414.5V66.5H380.5V24.5H346.5V31H312.5V22.5H278.5V6H245V53.5H210.5V31H176.5V37.5H142.5V52.5H108.5V60.5H74.5V54.5H40.5V48H6.5V19.5H-27.5V66H-61.5V60.5H-95.5V66.5H-129.5V39.5H-165.5V48Z" fill="#F1F5E0"/>
                    <path d="M-163.5 48H-200V95.5H854V55.75H824V16H788.5V50.5H754.5V55.5H720.5V65.5H686.5V59H652.5V48.5H618.5V62.5H584.5V83H550.5V70.5H516.5V79H482.5V43.5H448.5V76H414.5V66.5H380.5V24.5H346.5V31H312.5V22.5H278.5V6H245V53.5H210.5V31H176.5V37.5H142.5V52.5H108.5V60.5H74.5V54.5H40.5V48H6.5V19.5H-27.5V67H-61.5V60.5H-95.5V66.5H-129.5V39.5H-163.5V48Z" stroke="#C7C7C7"/>
                    <rect opacity="0.5" x="210" y="-1" width="648" height="91" fill="#FBFBFB"/>
                    <path opacity="0.5" d="M217.904 27.08L215.36 27.92L215.588 28.724L217.316 28.184V35H218.252V27.08H217.904ZM220.351 34.376C220.351 34.808 220.687 35.132 221.107 35.132C221.527 35.132 221.863 34.808 221.863 34.376C221.863 33.944 221.527 33.62 221.107 33.62C220.687 33.62 220.351 33.944 220.351 34.376ZM228.478 32.492C228.478 31.016 227.374 30.176 226.174 30.056L228.274 27.356V27.08H223.522V27.944H226.798L224.722 30.596V30.872H225.502C226.786 30.872 227.506 31.484 227.506 32.504C227.506 33.56 226.75 34.268 225.658 34.268C224.758 34.268 224.158 33.776 223.642 33.02L222.982 33.488C223.51 34.448 224.458 35.132 225.67 35.132C227.17 35.132 228.478 34.088 228.478 32.492ZM237.059 26.948L233.735 31.52L230.435 26.948H230.099V35H231.035V29.3L233.579 32.756H233.915L236.447 29.324V35H237.383V26.948H237.059Z" fill="#2E2E2E"/>
                    <circle cx="210" cy="31" r="2" fill="#C7C7C7"/>
                    <path opacity="0.5" d="M217.904 74.08L215.36 74.92L215.588 75.724L217.316 75.184V82H218.252V74.08H217.904ZM220.219 77.968C220.219 79.18 220.459 80.188 220.939 80.968C221.431 81.748 222.151 82.132 223.123 82.132C224.095 82.132 224.815 81.748 225.295 80.968C225.775 80.188 226.015 79.18 226.015 77.968C226.015 76.756 225.775 75.784 225.283 75.052C224.803 74.32 224.083 73.948 223.123 73.948C222.163 73.948 221.443 74.32 220.951 75.052C220.459 75.784 220.219 76.756 220.219 77.968ZM225.043 77.98C225.043 79.996 224.455 81.268 223.123 81.268C221.791 81.268 221.191 79.996 221.191 77.98C221.191 76 221.779 74.812 223.123 74.812C224.467 74.812 225.043 76 225.043 77.98ZM235.441 76.024L231.877 80.296V76.156H230.953V82.132H231.289L234.853 77.872V82H235.777V76.024H235.441ZM245.656 79.072C245.692 77.404 244.276 76 242.656 76.024C241.192 76.024 239.968 77.068 239.704 78.484H238.612V76.156H237.688V82H238.612V79.3H239.668C239.764 80.872 241.06 82.12 242.644 82.12C244.288 82.156 245.692 80.716 245.656 79.072ZM244.708 79.084C244.708 80.308 243.808 81.268 242.644 81.268C241.48 81.268 240.604 80.308 240.604 79.084C240.604 77.824 241.468 76.876 242.656 76.876C243.808 76.876 244.708 77.86 244.708 79.084ZM247.61 76.156L247.574 77.68C247.526 80.08 247.25 81.244 246.494 81.244C246.434 81.244 246.35 81.232 246.254 81.22V82C246.35 82.036 246.458 82.048 246.566 82.048C247.946 82 248.342 80.752 248.45 77.704L248.474 76.984H250.646V82H251.57V76.156H247.61ZM255.423 76.156C254.175 76.156 253.359 76.888 253.359 78.028C253.359 78.856 253.875 79.492 254.739 79.744L253.035 82H254.115L255.723 79.864H256.827V82H257.751V76.156H255.423ZM256.827 79.048H255.495C254.763 79.048 254.307 78.64 254.307 78.016C254.307 77.38 254.751 76.984 255.483 76.984H256.827V79.048Z" fill="#2E2E2E"/>
                    <rect x="210" y="-1" width="1" height="91" fill="#C7C7C7"/>
                </g>
            </svg>

        </v-flex>

        <v-layout class="hg-filter-box">
            <v-layout class="hg-sort-box">
                <div class="label"> {{ $t('listContent.to_group') }}: </div>
                <v-select class="hg-sort-select-box" height="31" :items="sortItems" v-model="sortBy" outlined></v-select>
            </v-layout>

            <v-layout class="hg-form-type-box">
                <div class="label"> Вид: </div>
                <v-btn class="hg-list-form" :class="{'active': formType === 'list'}" @click="formType='list'">
                    <font-awesome-icon icon="list" />
                </v-btn>
                <v-btn class="hg-calendar-form" :class="{'active': formType === 'calendar'}" @click="formType='calendar'">
                    <font-awesome-icon :icon="['far', 'calendar']"/>
                </v-btn>
            </v-layout>

            <v-layout class="hg-operation-types-box">
                <v-btn class="hg-operation-item"
                       v-for="(type, index) in operationTypes"
                       :class="{'active': operationType === type}"
                       @click="operationType=type"
                       :key="'operation_type'+index"
                >{{ $t('listContent.operation_types')[type] }}</v-btn>
            </v-layout>
        </v-layout>

        <v-flex class="hg-operation-menu-data-content" v-for="(dayData, index) in dataDays" :key="'day_data_'+index">
            <v-flex class="hg-data-by-day-content">
                <v-layout class="hg-data-by-day-title-content">
                    <v-layout class="hg-data-day">
                        {{ dayData.title }}
                        <font-awesome-icon class="hg-data-day-icon" icon="angle-down" />
                    </v-layout>

                    <v-layout class="hg-add-data">
                        <v-flex class="hg-label">{{ $t('global.add') }}</v-flex>
                        <v-btn class="hg-add-data-icon">
                            <font-awesome-icon class="icon-plus" icon="plus" />
                        </v-btn>
                    </v-layout>
                </v-layout>

                <hr class="hg-hr">

                <v-layout class="hg-data-by-day" v-for="(dayDataItem, index) in dayData.dataByDay" :key="'day_data_item_'+index">
                    <v-btn :class="'hg-progress-'+dayDataItem.progressStatus+' hg-progress-icon'">
                        <font-awesome-icon :class="'hg-progress-'+dayDataItem.progressStatus+'-icon'" :icon="'arrow-'+dayDataItem.progressStatus" />
                    </v-btn>

                    <v-flex class="hg-item-data" v-for="(itemData, index) in dayDataItem.data" :key="'item_data_'+index">
                        <div class="hg-data-title">{{ itemData.title }}</div>
                        <div class="hg-data-description" v-if="itemData.description_title">
                            <v-layout>
                                <div class="hg-label">{{ itemData.description_title }}</div>
                                <div v-if="itemData.description">{{ itemData.description }}</div>
                            </v-layout>
                        </div>
                    </v-flex>

                    <v-flex class="hg-item-status">
                        <v-btn class="hg-paid" disabled>
                            <v-flex>{{ $t('listContent.payment_statuses')[dayDataItem.paymentStatus] }}</v-flex>
                        </v-btn>
                    </v-flex>

                    <v-flex class="hg-item-amount-of-progress">
                        <v-flex :class="'hg-amount hg-progress-amount-'+dayDataItem.amountProgress">
                            {{ dayDataItem.price.price }}<span>{{ dayDataItem.price.remainder }}</span>
                        </v-flex>
                    </v-flex>
                </v-layout>

                <v-flex class="hg-copy-operation-content">
                    {{ $t('listContent.copy_operation') }}
                    <v-btn class="hg-copy-icon">
                        <font-awesome-icon class="icon-copy" :icon="['far', 'copy']"/>
                    </v-btn>
                </v-flex>
            </v-flex>
        </v-flex>
    </v-flex>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'UsersList',
    computed: {
        ...mapGetters({
            dataDays: 'operationMenu/getDataDays',
        })
    },
    data () {
        return {
            sortBy: 'По дате',
            sortItems: ['По дате', 'По ...'],
            formType: 'list',
            operationTypes: ['all', 'future', 'past'],
            operationType: 'all'
        }
    }
}
</script>